[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="app" v-cloak>
  <div class="container">
    <h1 class="title">Contacts</h1>
    <!-- Add Contact Button -->
    <div>
      <button class="button is-success" id="add_button" @click="addContact">Add Contact</button>
    </div>

    <!-- List of Contacts -->
    <div v-for="contact in contacts" :key="contact.id" class="card contact mt-4">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="photo image is-96x96" @click="click_figure(contact)">
              <img class="photo" :src="contact.photo" />
              <input :id="'file-input-' + contact.id" type="file" style="display: none"
                     @change="uploadImage($event, contact)"
                     accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*">
            </figure>
          </div>

          <div class="media-content">
            <!-- Editable Name Field -->
            <p class="title person-name">
              <input type="text" class="input is-4 title" 
                     name="name"
                     v-model="contact.name"
                     placeholder="Name"
                     :readonly="!contact.name_editable"
                     @click="makeEditable(contact, 'name')"
                     @blur="editField(contact, 'name', contact.name)"
              />
            </p>
            <!-- Editable Affiliation Field -->
            <p class="subtitle person-affiliation">
              <input type="text" class="input is-6" 
                     name="affiliation"
                     v-model="contact.affiliation"
                     placeholder="Affiliation"
                     :readonly="!contact.affiliation_editable"
                     @click="makeEditable(contact, 'affiliation')"
                     @blur="editField(contact, 'affiliation', contact.affiliation)"
              />
            </p>
          </div>
          <!-- Delete Button -->
          <div class="media-right">
            <i @click="deleteContact(contact.id)" class="delete-button has-text-danger fa fa-trash trash"></i>
          </div>
        </div>

        <!-- Editable Description Field -->
        <textarea class="textarea"
                  name="description"
                  v-model="contact.description"
                  placeholder="Description"
                  :readonly="!contact.description_editable"
                  @click="makeEditable(contact, 'description')"
                  @blur="editField(contact, 'description', contact.description)"
        ></textarea> 
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Load URLs for Vue.js app -->
<script>
  let get_contacts_url = "[[=URL('get_contacts')]]";
  let add_contact_url = "[[=URL('add_contact')]]";
  let update_contact_url = "[[=URL('update_contact')]]";
  let delete_contact_url = "[[=URL('delete_contact')]]";
  let upload_image_url = "[[=URL('upload_image')]]";
</script>

<script src="js/index.js"></script>
[[end]]
